body{
  font-family: sans-serif;
  min-height: 75rem;
  }

.section {
  width: 90%; margin: auto
}


h1 {
  font-family: serif;
  margin-bottom: 0;
}

h4{
  padding-top: 15px;
  font-size: 1em;
  font-weight: bold;
}

h4, h5 {
  text-align: center;
  width:80%; margin: auto;
}

h5 {
  font-size: 0.85em;
  font-style: italic;
}

.mapsection {
  padding-top: 15px;
  padding-bottom: 35px;
  width: 100%;
}

.aspect-ratio {
  padding-top: 66.66%
}

@media only screen and (min-width: 768px) {  
.aspect-ratio {padding-top: 42.857143%;}
.titlesection {width: 80%; margin: auto; text-align: center}
.section {width: 70%}
h4, h5 {width:60%}
}