body{
  font-family: sans-serif;
  min-height: 75rem;
  }

h1 {
  font-family: serif;
  margin-bottom: 0;
}

h4 {
  padding-top: 15px;
  text-align: center;
}

.mapsection {
    padding-bottom: 35px;
    width: 100%;
}

.aspect-ratio {
  padding-top: 66.66%
}

@media only screen and (min-width: 768px) {  
.aspect-ratio {padding-top: 42.857143%;}
}