body {
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;  
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 92%;
}

.mapboxgl-ctrl-compass {
  display: none !important;
  }

  #menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  margin-left: 4%;
  top: 0;
  left: 0;
  border-radius: 3px;
  width: 90px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 11px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #2d7cb3;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

.mapboxgl-popup {
  max-width: 160px;
  z-index: 1;
} 


.legend2 {
background-color: #fff;
border-radius: 3px;
border: 1px solid rgba(0, 0, 0, 0.4);
/* box-shadow: 0 1px 2px rgba(0,0,0,0.10); */
font: 11px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 2px;
position: relative;
z-index: 1;
width: 270px;
margin: auto;
display: none;
}

.legend2-title {
margin: 0;
text-align: center;
}

.legend2keycontainer{
display: flex; 
flex-direction: row-reverse;
justify-content: space-around;  
} 

.legend2key{
display: inline-block;
width: 25px;
text-align: center;
}

.legend2 div span {
border-radius: 50%;
display: block;
height: 12px;
width: 12px;
margin: auto;
}

@media only screen and (min-width: 768px) {
.legend2 {top: 10px; margin-right: 10%; right:45px; position: absolute;}
.legend2 {display: inline}
#map {top: 0; width:80%}
body {padding-left: 10%; padding-right: 10%;}
#menu {margin-left: 10%; left: 10px;width: 120px;}
#menu a {font-size: 13px;  padding: 10px;}
}