body { 
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;  
}

#map { 
    position:absolute; 
    top: 25px; 
    bottom:0; 
    width:92%; 
}

.mapboxgl-ctrl-compass {
    display: none !important;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
  margin:0;
  margin-bottom:5px;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
    position: absolute;
    bottom: 0;
    left: 4%;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
  }

  .legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 135px;
    margin-bottom: 35px;
    width: 100px;
  }


  .legend div span {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  
#features {
    top: 0;
    height: 170px;
    margin-top: 20px;
    width: 175px;
  }

#menu {
    background: #fff;
    position: relative;
    display: flex;
    z-index: 1;
    left: 10px;
    border-radius: 3px;
    width: 200px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

#menu a {
    font-size: 11px;
    color: #404040;
    display: inline-flex;
    flex-grow: 1;
    width: 50%;
    margin: 0;
    padding: 0;
    padding: 5px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    justify-content: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

@media only screen and (min-width: 768px) {
    /* .legend2 {top: 10px; right:45px;  position: absolute;}
    .legend2 {display: inline}*/
    #map {top: 40px; width:80%}
    body {padding-left: 10%; padding-right: 10%;}
    #menu {width: 270px;}
    #menu a {font-size: 13px;  padding: 10px;}
    .map-overlay {left: 10%}
}