body { 
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;  
}

#map { 
    position:absolute; 
    top: 33px; 
    bottom:0; 
    width:92%; 
}

.mapboxgl-ctrl-compass {
    display: none !important;
}

h2,h3 {
  margin: 10px;
  margin-bottom: 0;
  font-size: 1em;
}

h3 {
  text-align: center;
}

h4 {
    margin: 5px;
}

p {
  font-size: 0.65em;
  margin: 1px;
  margin-bottom: 10px;
  text-align: center;
}

td {
    font-size: 0.85em;
}

.fp{
    font-size: 0.85em;
    margin: 10px;
  }
  
/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
    position: absolute;
    bottom: 0;
    left: 5%;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
  }

  .legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 205px;
    margin-bottom: 35px;
    width: 90px;
    display: none;
  }

  .legend div {
      margin-left: 5px;
  }
  .legend div span {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 5px;

  }
  
#features {
    top: 0;
    height: 165px;
    margin-top: 35px;
    width: 150px;
    display: none;
  }

  .mapboxgl-popup {
    max-width: 200px;
    z-index: 1;
} 

#menu {
    background: #fff;
    position: relative;
    display: flex;
    z-index: 1;
    left: 10px;
    border-radius: 3px;
    width: 245px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

#menu a {
    font-size: 11px;
    color: #404040;
    display: inline-flex;
    flex-grow: 1;
    width: 33.3%;
    margin: 0;
    padding: 3px;
    text-decoration: none;
    border-right: 1px solid rgba(0,0,0,0.25);
    justify-content: center;
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

@media only screen and (min-width: 768px) {
    /* .legend2 {top: 10px; right:45px;  position: absolute;}
    .legend2 {display: inline}*/
    #map {top: 40px; width:80%}
    body {padding-left: 10%; padding-right: 10%;}
    #menu {width: 320px;}
    #menu a {font-size: 13px;  padding: 4px;}
    .map-overlay {left: 11%}
    #features {margin-top: 45px; display: block}
}

@media only screen and (min-width: 1224px) {
    .legend {display: block;}
}   